@font-face {
    font-family: 'Graphik-Medium';
    src: url('../font/Graphik-Medium.eot');
    src: url('../font/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Medium.woff2') format('woff2'),
        url('../font/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('../font/Graphik-Regular.eot');
    src: url('../font/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Regular.woff2') format('woff2'),
        url('../font/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Semibold';
    src: url('../font/Graphik-Semibold.eot');
    src: url('../font/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Semibold.woff2') format('woff2'),
        url('../font/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Bold';
    src: url('../font/Graphik-Bold.eot');
    src: url('../font/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Bold.woff2') format('woff2'),
        url('../font/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oregon-LDO-Medium';
    src: url('../font/OregonLDOMedium.eot');
    src: url('../font/OregonLDOMedium.eot?#iefix') format('embedded-opentype'),
        url('../font/OregonLDOMedium.woff2') format('woff2'),
        url('../font/OregonLDOMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oregon-LDO-Regular';
    src: url('../font/OregonLDO.eot');
    src: url('../font/OregonLDO.eot?#iefix') format('embedded-opentype'),
        url('../font/OregonLDO.woff2') format('woff2'),
        url('../font/OregonLDO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




/* ------------------------------ FONT CLASS START ------------------------------ */


.graphikR{
    font-family: 'Graphik-Regular';
}

.graphikM{
    font-family: 'Graphik-Medium';
}

.graphikSB{
    font-family: 'Graphik-Semibold';
}

.graphikB{
    font-family: 'Graphik-Bold';
}

.oregonR{
    font-family: 'Oregon-LDO-Regular';
}

.oregonM{
    font-family: 'Oregon-LDO-Medium';
}

/* ------------------------------ FONT CLASS END ------------------------------ */






/* ------------------------------ COLOUR & BG COLOURS START ------------------------------ */


.bgPurple{
    background-color: #723177;
}

.bgLightppl{
    background-color: #645DBC;
}

.bgBlue{
    background-color: #162A4C;
}

.lightblack{
    background-color: #0D0D0D;
}

.cPink{
    color: #8C4997;
}

.wtLight{
    color: #e5e5e5f0 !important;
}

.wtM{
    color: #ffffff91 !important;
}

/* ------------------------------ COLOUR & BG COLOURS END ------------------------------ */







/* ----------------------------SOME GENRAL CLASS START---------------------------- */

*{
    margin: 0;
    padding: 0;
}

.wFull{
    width: 100%;
}

.roundBdr{
    border: 0px;
    border-radius: 0 0 50px 50px;
}

.boxStl{
    border: 1px solid gainsboro !important;
    width: 41px;
    border-radius: 7px !important;
}

.lhMlg{
    line-height: 2.5;
}
/* ----------------------------SOME GENRAL CLASS END---------------------------- */






/* HEADER START  */

.hInput input{
    border: 1px solid gray !important;
    width: 100%;
    margin-right: 0;
/*    margin-left: 29px;*/
    height: 45px;
    padding-left: 15px;

}
.header-part-3{
    width: 360px;
    flex:0 0 360px;
}

.hInput button{
    margin-left: -5px;
    border: none;
    background-color: black;
    color: white;
    height: 45px;
    padding: 0 18px;
    margin-right: 29px;

}

.hNumber{
    height: 45px;
    line-height: 20px;
    margin: 0 36px 0 0px;
}

.hN1{
    font-size: 14px;
}

.hN2{
    font-size: 18px;

}

.headerTwo{
    background-color: #E6EAF9;
}

.headerTwo a{
    color: black;
    margin: 0px 20px;
    text-decoration: none;
}

.headerTwo li{
    list-style: none;
    font-size: 18px;
}


.h_Icons ._icon{
    display: flex;
    background: #8383832e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.h_Icons ._icon:hover{
    background: #bd42422e;
}
.h_Icons ._icon img{

}

.ocbBtn{
    position: absolute;
    border: none;
    padding: 14px 22px;
    left: 7%;
    bottom: 18%;
    font-size: 15px;
}


.bannerCrl .owl-nav {
    position: absolute;
    bottom: 65px;
    right: 44px;
    background-color: #411c43a6;
    width: 127px;
    height: 39px;
    border: 1px solid #411C43;
    border-radius: 25px;
}

.norBtn .owl-nav {
    position: absolute;
    top: -59px;
    right: 0px;
    background-color: #b4965b;
    width: 112px;
    height: 35px;
    border: 1px solid #B4975B;
    border-radius: 25px;
}


.owl-prev{
    background-image: url(../img/prev.svg) !important;
    background-size: 23px !important;
    width: 23px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-right: 10px !important; 
}

.owl-next{
    background-image: url(../img/next.svg) !important;
    background-size: 23px !important;
    width: 23px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-left: 10px !important; 
}

.owl-nav span{
    color: #411c4300;
}



.siconeSpan{
    position: absolute;
    border: 1px;
    border-radius: 50px;
    top: -6px;
    right: -10px;
    padding: 0px 7px;
}


/* HEADER END */



.cardp1{
    margin-bottom: 4px;
    font-size: 18px;
}

.cardp2{
    font-size: 15px;
    color: #bfbfbf;
    margin-bottom: 0px;
}

.cardp3{
    font-size: 15px;
    color: #828282;
}

.cardp4{
    font-family: 'Graphik-Semibold';
}


.lcardp1{
    margin-bottom: 4px;
    font-size: 18px;
    color: black;
}

.lcardp2{
    font-size: 15px;
    color: #828282;
    margin-bottom: 0px;
}

.lcardp3{
    font-size: 15px;
    color: #bfbfbf;
}

.lcardp4{
    color: black;
    font-family: 'Graphik-Semibold';
}

.copyRight{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 24px;
}



.aakritiP{
    position: absolute;
    right: 61px;
    top: -207px;
}

.twoColour{
    background-image: linear-gradient(180deg,white 26%,gray 58%);
    -webkit-background-clip: text;
    color: transparent;
}


/* small __________________________________ */


@media (max-width: 992px){
    .h_Icons ._icon{
        background-color: transparent;
    }
    .header-part-3{
        width: auto;
        flex:0 0 auto;
    }
    .logo img{
        width: 100%;
    }
    .logo{
        width: 80px;
    }
    .headerTwo{
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: -99999;
        opacity: 0;
        visibility: hidden;
        transition: ease all .3s;
        background: #000000ba;
    }
    .headerTwo.active{
        z-index: 9;
        transition: ease all .3s;
        animation: bringToTop linear forwards 0.3s;
        animation-delay: 0.2s;
        visibility: visible;
    }

    @keyframes bringToTop{
        0%{opacity: 0}
        100%{opacity: 1}
    }

    .headerTwo > ul{
        width: 70%;
        background: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        transition: ease all .3s;
    }
    .headerTwo.active > ul{

        transform: translateX(0%);
        transition: ease all .3s;
        transition-delay: 0.5s;
    }
    .headerTwo .close_handler{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    header{
        position: relative;
        z-index: 3;
    }

    .hInput{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 9;
        display: none;
    }
    .hInput.active{
        display: flex;
    }


    .ocbBtn {
        position: absolute;
        border: none;
        padding: 4px 3px;
        left: 7%;
        bottom: 15%;
        font-size: 8px;
    }

    .bannerCrl .owl-nav {
        display: none;
    }

    .roundBdr{
        border: 0px;
        border-radius: 0 0 5% 5%;
    }

    .hInput input{
        border: none !important;
        width: 100%;
        /* margin-right: 0;
        margin-left: 3px; */
        height: 45px;
        padding-left: 5px;
    }
}